.header {
	background-color: var(--yellow);
	padding: 15px;
	font-weight: bold;
}
.header__nav {
	display: flex;
	justify-content: center;
	gap: 15px;
}
.header__link {
	padding: 0.5rem 1.8rem;
}
.header__link:focus {
	border-radius: 25px;
	outline: 3px solid var(--red);
}
