.product {
	width: 310px;
	position: relative;
}

.product__img {
	caret-color: transparent;
	border-radius: 4px;
}

.product__name,
.product__price {
	position: absolute;
}

.product__name {
	font-size: 1.6rem;
	top: 8px;
	left: 8px;
	text-transform: capitalize;
}

.product__price {
	bottom: 8px;
	right: 8px;
}
